.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


.table {
  table-layout: fixed
}

.tableCell {
  word-wrap: break-word;
}

.navigation {
  margin-bottom: 1em;
  border-radius: 5px
}

.footer {
  padding-top: 2em;
}

.inputField {
  padding-bottom: 0.5em;
}

.button {
  padding-top: 0.5em;
}

.input {
  width: 30em;
  max-width: 100%;
}

.smallInput {
  width: 10em;
  max-width: 100%;
}

.view {
  padding-top: 1em;
}

.container {
  color:#282c34
}

.customPaper {
  border-left: solid;
  border-top: solid;
  border-width: thin;
  border-color: #dad9d9;
  background-color:white;
  border-radius: 4px;
  box-shadow: 1px 1px #aaa9a9;
}

.footer {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.deleteButton {
  padding: 5px;
  margin-right: 1em;
}